/* Global STYLES____ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: black;
}

/* ____NAVBAR STYLES____ */

nav {
  background-color: #2f98e8;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  text-align: center;
}

.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100px;
  margin-bottom: 5px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: #ffbd00;
}

.nav-title {
  color: white;
  margin-left: 10px;
}

.search-icon img {
  width: 25px;
  display: flex;
  height: auto;
  margin-left: 1rem;
}

.search-icon:hover img {
  content: url("/assets/navbar/search-icon-hover.png");
}

#theme-switcher {
  display: none;
}
#theme-switcher:checked + .label .sun {
  display: block;
}

#theme-switcher:checked + .label .moon {
  display: none;
}

.label {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.label img {
  width: 25px;
  height: 25px;
}

.label .sun {
  display: none;
}

/* ___HERO SECTION STYLES___ */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #2f98e8;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}
.hero-title-blue {
  color: #ffbd00;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  color: white;
  text-align: center;
}

.hero-btn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #ffbd00;
  border-radius: 5%;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: bold;
}

.hero-btn:hover {
  background-color: white;
  text-decoration: underline;
  text-decoration-color: #ffbd00;
  color: #ffbd00;
}

hr {
  border: none;
  height: 1px;
  width: 50%;
  background-color: #0099ff;
  margin: 0 auto;
}

/* ___BLOG POST SECTION STYLES___ */

#blog-section {
  background-color: white;
  padding-bottom: 100px;
}

.blog-section-title {
  text-align: center;
  padding: 30px;
  font-weight: bold;
}
.latest-posts {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 500px));
  gap: 20px;
  justify-content: center;
  background-color: white;
}

.latest-posts a {
  text-decoration: none;
  color: inherit;
}

.post-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.post-item:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

figcaption h2 {
  margin-bottom: 1.5rem;
}

.post-image {
  grid-column: 2;
  width: 100%;
  height: 100%;
  grid-row: 1 / span 4;
  object-fit: contain;
}

.post-author {
  grid-row: 4;
}

.post-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffbd00;
}

/* ___Footer SECTION STYLES___ */
footer {
  background-color: #0099ff;
  padding: 20px 0;
  color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo-section,
.social-section,
.company-section {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.company-section {
  margin-right: 0;
}

.logo-section img {
  max-width: 130px;
  margin-right: 20px;
}

.social-section span,
.company-section span {
  margin-right: 10px;
  font-weight: bold;
}

.social-section a,
.company-section a {
  margin-right: 10px;
}

.social-section img,
.company-section img {
  max-width: 25px;
}

.github-icon:hover {
  content: url("/assets/footer-images/footer-hover/github-hover.png");
}

.twitter-icon:hover {
  content: url("/assets/footer-images/footer-hover/twitter-hover.png");
}

.linkedin-icon:hover {
  content: url("/assets/footer-images/footer-hover/linkedin-hover.png");
}

.external-link-icon:hover {
  content: url("/assets/footer-images/footer-hover/external-link-hover.png");
}

/* ___RESPONSIVE STYLES___ */

/* Shared styles for both viewports */
@media screen and (max-width: 600px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 0.8rem;
    margin-bottom: 1;
  }

  #blog-section {
    padding-bottom: 50px;
  }

  .latest-posts {
    grid-template-columns: repeat(1, 90%);
  }

  footer {
    height: auto;
  }

  .footer-content {
    flex-direction: column;
  }

  .social-section {
    margin-top: 12rem;
  }

  .logo-section img {
    max-width: 100px;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .logo-section,
  .social-section,
  .company-section {
    margin-right: 0;
    margin-top: 0.8em;
  }
}

/* Specific styles for viewports 481px to 600px */
@media screen and (min-width: 481px) and (max-width: 600px) {
  .hero {
    height: 28vh;
  }

  .nav-links-container {
    margin-top: 2rem;
  }

  .post-item {
    grid-template-columns: 4fr 1fr;
  }
}

/* Specific styles for viewports under 480px */
@media screen and (max-width: 480px) {
  .nav-links-container {
    margin-top: 1rem;
    flex-wrap: wrap;
  }
}

/* Consolidated styles for nav in both 481px to 600px and under 480px */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
}

/* Consolidated styles for viewports under 1000px */
@media screen and (max-width: 1000px) {
  nav li {
    margin: 0 16px;
  }

  .hero {
    height: 30vh;
  }

  .latest-posts {
    grid-template-columns: repeat(1, 80%);
  }

  .post-item {
    grid-template-columns: 2fr 1fr;
  }

  .footer-content {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .logo-section,
  .social-section {
    display: flex;
    align-items: center;
    margin-right: 0;
  }
}
