* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: black;
}

/* ____NAVBAR STYLES____ */

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  margin-bottom: 5px;
}

nav ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin: 0 20px; /* Space between items */
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.nav-title {
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

.search-icon img {
  width: 25px; /* Adjust search icon's size */
  display: flex;
}

/* General styling for the toggle container */
.toggle-container {
  display: inline-block;
  position: relative;
  width: 45px; /* Width of the toggle */
  height: 20px; /* Height of the toggle */
  cursor: pointer;
  margin-left: 10px;
}

/* Hides the checkbox input */
.toggle-input {
  display: none;
}

/* Style the toggle switch (div) */
.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #39393a; /* Color when the toggle is off */
  border-radius: 30px; /* Creates Round corners */
  transition: background-color 0.2s; /* Transition effect for smooth color change */
  border: solid white;
}

/* Style the circle inside the toggle */
.toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1%; /* Initial position */
  transform: translateY(-50%);
  width: 20px; /* Diameter of the circle */
  height: 18px;
  background-color: #b4b4b4; /* Circle color */
  border-radius: 50%; /* Creates a round shape */
  transition: left 0.2s; /* Transition effect for smooth movement */
}

/* Styling when the toggle is checked */
.toggle-input:checked + .toggle {
  background-color: #ffc306; /* Color when the toggle is on */
}

.toggle-input:checked + .toggle::before {
  left: 54%; /* Moves to the other end when checked */
}

/* ___HERO SECTION STYLES___ */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Makes the hero section take up the full viewport height */
  background-color: #000;

  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: white;
}
.hero-title-blue {
  color: #0099ff;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 40px;
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0099ff;
  color: white;
  border-radius: 5%;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: bold;
}

.btn:hover {
  background-color: #0099ff;
}

hr {
  border: none; /* Removes default border */
  height: 1px; /* Sets the height of the divider */
  width: 50%;
  background-color: #0099ff; /* Color of the divider */
  margin: 0 auto;
}

/* ___BLOG POST SECTION STYLES___ */

#blog-section {
  background-color: black;
  padding-bottom: 100px;
}

.blog-section-title {
  color: white;
  text-align: center;
  padding: 30px;
  font-weight: bold;
}
.latest-posts {
  display: grid;
  grid-template-columns: repeat(2, 400px); /* Two columns layout */
  gap: 20px; /* Space between grid items */
  /* padding: 0 50px; Space around the grid */
  background-color: #333; /* Dark background for contrast matching navbar */
  /* margin: 0 100px; */
  justify-content: center;
  background-color: black;
}

.post-item {
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffcc00; /* Yelow background for each post item */
}

.post-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: solid black 1px;
  object-fit: cover;
}

.post-author {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between author's details */
}

.post-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Circle avatar */
  background-color: rgb(68, 68, 68);
}

/* ___Footer SECTION STYLES___ */
footer {
  background-color: #0099ff; /* Color matching the image */
  padding: 20px 0;
  color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  max-width: 1200px; /* Set this to your preferred width */
  /* margin: 0 auto; To center the content */
  padding: 0 20px;
}

.logo-section,
.social-section,
.company-section {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.company-section {
  margin-right: 0; /* Ensure the last section doesn't have extra margin */
}

.logo-section img {
  max-width: 100px; /* Set this to your preferred width */
  margin-right: 20px;
}

.logo-section span {
  color: #ffcc00;
  font-weight: bold;
}

.social-section span,
.company-section span {
  margin-right: 20px;
  font-weight: bold;
}

.social-section a,
.company-section a {
  margin-right: 13px;
}

/* .social-section a:last-child,
.company-section a:last-child {
  margin-right: 0;
} */

a img {
  max-width: 25px; /* Adjust based on your icon sizes */
}
