* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  margin-bottom: 5px;
}

nav ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin: 0 20px; /* Space between items */
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.nav-title {
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

.search-icon img {
  width: 25px; /* Adjust search icon's size */
  display: flex;
}

/* General styling for the toggle container */
.toggle-container {
  display: inline-block;
  position: relative;
  width: 55px; /* Width of the toggle */
  height: 30px; /* Height of the toggle */
  cursor: pointer;
  margin-left: 10px;
}

/* Hides the checkbox input */
.toggle-input {
  display: none;
}

/* Style the toggle switch (div) */
.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc; /* Color when the toggle is off */
  border-radius: 30px; /* Creates Round corners */
  transition: background-color 0.2s; /* Transition effect for smooth color change */
}

/* Style the circle inside the toggle */
.toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%; /* Initial position */
  transform: translateY(-50%);
  width: 24px; /* Diameter of the circle */
  height: 24px;
  background-color: #fff; /* Circle color */
  border-radius: 50%; /* Creates a round shape */
  transition: left 0.2s; /* Transition effect for smooth movement */
}

/* Styling when the toggle is checked */
.toggle-input:checked + .toggle {
  background-color: #ffc306; /* Color when the toggle is on */
}

.toggle-input:checked + .toggle::before {
  left: 50%; /* Moves to the other end when checked */
}
